.chatBoxCont {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	background-color: rgb(226, 224, 224);
	border-style: none;
	border-radius: 8px;
	box-shadow: 0 0 6px 2px rgba(128, 128, 128, 0.511);
	max-width: 400px;
	max-height: 85vh;
	min-height: 100vh;
	& .AllMessages {
		display: flex;
		flex-direction: column;
		bottom: 0;
		left: 0;
		scroll-behavior: smooth;
		overflow-y: auto;
		hyphens: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		& .userMessage {
			display: flex;
			flex-direction: column;
		}
	}
	& .options {
		margin: 20px 20px;
	}
	& .chatBoxCont .sendMessage {
		width: 100%;
		margin-top: auto;
	}
}
.chatBoxCont::-webkit-scrollbar {
	display: none;
}
@media (max-width: 1100px) {
	.chatBoxCont {
		min-width: 180px;
	}
}
